<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            $.post({
                url: "http://localhost:8088/user/getInfo",
                success: function (msg) {
                    var msgJSON = JSON.parse(msg);
                    $("#name").html("welcome：" + msgJSON.name);
                    $("#login").html("your Gitee login name is：" + msgJSON.login);
                    $("#id").html("your Gitee id is：" + msgJSON.id);
                    $("#url").html(`your Gitee person's url is：<a href= "${msgJSON.html_url}">${msgJSON.html_url}</a>`);
                }
            })
        })
    </script>
</head>
<body>

<div id="name"></div>
<div id="login"></div>
<div id="id"></div>
<div id="url"></div>

</body>
</html>